// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link_icon {
  width: 75px;
}

.link_info {
  margin-left: -150px;
}

.votes {
  margin: auto;
}
