// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.link_icon {
  width: 75px;
}

.link_info {
}

.votes {
  margin: auto;
}

#header{
  background-color: rgba(2, 106, 203, 0.81)
}

#snoo{
  width: 50px;
  display: inline;
  margin: 10px;
}

#logo{

  display: inline;
}

#logo a{
  color: white;
}

header h5 a{
  color: white;
}

#new_link{
  display: inline;
  margin-right: 10px;
}

#new_user{
  display: inline;
}
